:root{
    --primary:#ececec;
    --primary-text:#000;
    --positive:#2a53da;
    --positive-text:#ffffff;
    --negative:#be0e0e;
    --negative-text:#ffffff;
}
[data-theme="dark"]{
    --primary:#10101b;
    --primary-text:#e4e4e4;
    --positive:#1b3075;
    --positive-text:#dfdfdf;
    --negative:#7a2929;
    --negative-text:#e2e2e2;
}

body{
    font-family: 'Questrial',sans-serif;
    background-color: var(--primary);
    color: var(--primary-text);
}

h4,button{
    font-family: 'Questrial',sans-serif;
}
