:root {
  --primary: #ececec;
  --primary-text: #161616;
  --secondary: #ffffff;
  --secondary-text: #000000;
  --positive: #2a53da;
  --positive-text: #ffffff;
  --negative: #be0e0e;
  --negative-text: #ffffff;
}
[data-theme="dark"] {
  --primary: #12121f;
  --primary-text: #e4e4e4;
  --secondary: #13131b;
  --secondary-text: #f7f7f7;
  --positive: #6581dd;
  --positive-text: #0e0e0e;
  --negative: #e76363;
  --negative-text: #111111;
}

/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  transition: 0.4s ease;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
  transition: 0.4s ease;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--positive);
  transition: 0.4s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-text);
  transition: 0.4s ease;
}
::-webkit-scrollbar-thumb:focus {
  background: var(--positive);
  transition: 0.4s ease;
}

.primary{
    background-color: var(--primary);
    color: var(--primary-text);
}
.secondary{
    background-color: var(--secondary);
    color: var(--secondary-text);
}

body {
  font-family: "Questrial", sans-serif;
  background-color: var(--primary);
  color: var(--primary-text);
}

h4,h3,h2,h1,
button {
  font-family: 'Questrial', sans-serif;
}

.slate {
  background-color: var(--secondary);
  border-radius: 12px;
  overflow-y: scroll;
  padding: "8px 0";
  box-shadow: 0px 4px 18px #b9b9b9aa;
}
.group{
  background-color: var(--primary);
  padding: 12px 8px;
  margin: 8px;
  border-radius: 8px;
}
.caption {
  font-weight: bold;
  font-size: 14px;
}

.text-large{
  font-size: 24px;
}

.scrollY{
  overflow-y: scroll;
}