<html>
    <body>
        <table>
            <tr>
                <img src="https://convameet.web.app/icon.png" width="100" />
            </tr>
            <tr>
                Hey <%= data.username %>
            </tr>
            <tr>
                Verify your <%= data.email %> account by clicking <a href="<%= data.link %>">here</a>.
            </tr>
            <tr>
                Regards, Conva.
            </tr>
        </table>
    </body>
</html>